.form-container{
    width: 500px;
    border: 1px solid #95a0a7;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    margin: 40px auto;
}
.form-title{
    font-size: 35px;
    color: #3a414f;
    font-weight: 400;
    text-align: center;
}
.input-group{
    margin-bottom: 20px;
}
.input-group label{
    display: block;
    margin-left: 5px;
    font-size: 20px;
    margin-bottom: 5px;
}
.input-group input{
    width: 415px;
    border: 1px solid #95a0a7;
    box-sizing: border-box;
    border-radius: 5px;
    height: 55px;
    font-size: 24px;
    padding-left: 10px;
}
.form-submit{
    width: 415px;
    height: 55px;
    background-color: rgba(255, 153, 0, 0.3);
    border-radius: 5px;
    border: none;
    font-size: 20px;
    margin-top: 30px;
    cursor: pointer;
    transition: .5s ease;
}
.form-submit:hover{
    background-color: rgba(255, 153, 0, 0.6);
}
.form-link{
    color: #ff9900;
    text-decoration: none;
}
p{
    text-align: center;
}
hr{
    width: 47%;
    height: 2px;
}
hr:first-child{
    margin-right: 10px;
}
hr:last-child{
    margin-left: 10px;
}
.line{
    display: flex;
    align-items: center;
}
.last{
    margin-bottom: 30px;
}